<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Uredi čestitku</title>
    </head>
    <body>
        <header>
            <div id="block-identity">
                <a href="{{request.route_path('home')}}" class="name">Štrikaona koda</a>
            </div>
            {% if 'user' in request.session %}
                {% include 'header_logged.jinja2' %}
            {% else %}
                {% include 'header_guest.jinja2' %}
            {% endif %}
        </header>

        <div class="container">
            <form id="eCard" action="{{request.route_path('ecardedit', id=ecard.id)}}" method="post" enctype="multipart/form-data">
                <h2>Dodaj novu čestitku</h2>

                <p class="error-msg">{{edit_error_message}}</p>

                <div class="form-group">
                        <label for="title">Naziv</label>
                        <input type="text" id="title" name="title" value="{{ecard.title}}">
                </div>
                <div class="form-group">
                        <label for="message">Poruka</label>
                        <textarea rows="3" id="message" name="message" >{{ecard.message}}</textarea>
                </div>
                <div class="form-group">
                        <label>Slika</label>
                        <input type="file" id="img" accept="image/*" name="img">
                        <img src="{{ecard.image.path}}" class="preview">
                </div>
                <div class="form-group">
                        <label>Okvir</label><br>

                        <input type="radio" name="frame" value="modern" id="modern" {% if ecard.frame.name == "modern" %} checked {% endif %}>
                        <label for="modern" class="radio-label"><img src="../static/img/frames/thumbs/modern.jpg" alt="Moderni okvir"></label>
                        
                        <input type="radio" name="frame" value="bday" id="bday" {% if ecard.frame.name == "bday" %} checked {% endif %}>
                        <label for="bday" class="radio-label"><img src="../static/img/frames/thumbs/bday.jpg" alt="Rođendanski i okvir"></label>

                        <input type="radio" name="frame" value="xmas" id="xmas" {% if ecard.frame.name == "xmas" %} checked {% endif %}>
                        <label for="xmas" class="radio-label"><img src="../static/img/frames/thumbs/xmas.jpg" alt="Božićni okvir"></label>

                        <input type="radio" name="frame" value="love" id="love" {% if ecard.frame.name == "love" %} checked {% endif %}>
                        <label for="love" class="radio-label"><img src="../static/img/frames/thumbs/love.jpg" alt="Ljubavni okvir"></label>
                </div>

                <div class="form-group">
                        <input type="checkbox" id="privateCard" name="private_card" value="yes" {% if not ecard.public %} checked {% endif %}>
                        <label for="privateCard">Čestitka je privatna</label>
                </div>
                
                <div class="form-group">
                        <button type="submit" name="cardedit.submit">Izmjeni</button>
                </div>

            </form>
        </div>
        
    </body>
</html>
